body{
    margin: 0;
    background-color: lightyellow;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.siteHeader{
    padding-bottom: 240px;
    width: 100%;
    background-image: url(../images/bree-brightone-field.jpeg);
    background-size: cover;
    background-position: center center;
}

.siteHeader--bar{
    background-color: deeppink;
}

.siteHeader--bar--inner{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}



.siteHeader--bar--title {
    float: left;
    font-size: 24px;
    margin: 0;
    line-height: 48px;
}

.siteHeader--bar--title a {
    color: snow;
    text-decoration: none;
}

.siteHeader--bar--title a:link
.siteHeader--bar--title a:visited {
    color: snow;
    
}
.siteHeader--bar--title a:hover {
    color: yellow;
    
}
.siteHeader--bar--title a:active {
    color: snow;
    
}


.siteNav {
    float: right;
}

.siteNav--link {
    display: inline-block;
    padding-right: 4px;
    padding-left: 4px;
    color: snow;
    text-decoration: none;
    line-height: 48px;
}

.siteNav--link:link
.siteNav--link:visited {
    color: snow;
    
}
.siteNav--link:hover {
    background-color: hotpink;
    color: snow;
    
}
.siteNav--link:active {
    color: snow;
    
}


.siteMain{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.button {    
    display: block;
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 3px solid pink;
    background-color: purple;
    color: yellow;
    text-align: center;
}

.button:hover {
    background-color: skyblue;
}





.siteFooter{
    border-top: 4px solid deeppink;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.copyright{
    text-align: center;
}